<hr/>
<div class="event-present">
	<div id="event-title">
		<h1>
		  <p>
			  <%= @event.title %></span>
			</p>
		</h1>
	</div>

	<p>
		
<h3><%= @event.event_start.strftime("%B %e, %Y") %></h3>
<%= @event.time_begin.strftime ("%I:%M %p") if  @event.show_time %>
<h3><%= @event.location if @event.show_location %></h3>
 <p><%= @event.address if @event.show_address%></p>



	<!--Location and time, but not validated. Later, possibly JS prompts.-->


	<p>
	  <%= @event.text %>
	</p>

	
</div>
<hr/>

<h3>Comments</h3>

<p>
	<%= render @event.comments %></p>
</p>

<h4>Add a comment:</h4>
<%= render "comments/form" %>

<%= link_to 'Edit event', edit_event_path(@event) %> |
<%= link_to 'Back to events', events_path %>


